<div class="filme-principal">
  <div class="container">
    <h3 class="title">Sin City: A Dama Fatal</h3>
    <p class="descricao">Dwight tem seu confronto final com a mulher dos seus sonhos e pesadelos, Ava. Ela consegue ler mentes e transforma-se exatamente no que os homens desejam. Repleta de mulheres fortes, anti-heróis e vilões cruéis, seus caminhos se cruzam pelas ruas e bares da cidade do pecado.</p>
  </div>
  <div class="botoes">
    <button role="button" type="button"class="botao">
      <fa-icon [icon]="play"></fa-icon>
      ASSISTIR AGORA
    </button>
    <button role="button" type="button" class="botao">
      <fa-icon [icon]="infoCircle"></fa-icon>
      MAIS INFORMAÇÕES
    </button>
  </div>
</div>
