<main>

  <app-principle-title></app-principle-title>


  <div class="carrousel-filmes">
    <h3>Em alta</h3>
    <owl-carousel-o [options]="customOptions" class="owl-carrousel owl-theme">
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/mini1.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/mini2.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/mini3.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/mini4.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/mini5.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/mini6.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/mini7.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/mini8.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/mini9.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/mini10.jpg">
      </ng-template>
    </owl-carousel-o>

    <h3>Clássicos</h3>
    <owl-carousel-o [options]="customOptions" class="owl-carrousel owl-theme">
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/89B6W9mlTfSxeMEFMSyRBViXy83.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/8JdinRihasr6kWDxlH5Scei7z8e.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/8vmYMcvWaqqhEWt9EnTPdXDdy2F.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/ecuP4ZaIHawKmmIaXD5mS55UlhL.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/fjaiHtykx4LcHJLzhKhn7tNPpAj.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/j09TT0S1crBSYjPu14vgzSSFqFo.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/jUhGHv4YihieVjhU2TmFaBsZ4Xg.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/kU4tox74sK4he5YlABbwAaNTik9.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/lJyrHFaR35XPfYzg3XBL8EiK1Sh.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/qFhaNRu7ZBKT6Iy7NY0prJmIwaK.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/qjOoCrmPVrbZOTCtkdsakx9sdT0.jpg">
      </ng-template>
      <ng-template carouselSlide class="items">
        <img class="box-filme" src="../../../assets/img/qmv5Q5rjbO2wMveB1UC31prOCKH.jpg">
      </ng-template>
    </owl-carousel-o>
  </div>
</main>
