<main>
  <app-principle-title></app-principle-title>

  <div>
    <owl-carousel-o [options]="customOptions" class="owl-carrousel owl-theme">
      <ng-template carouselSlide class="items">
        teste 1
      </ng-template>
      <ng-template carouselSlide class="items">
        teste 2
      </ng-template>
      <ng-template carouselSlide class="items">
        teste 3
      </ng-template>
      <ng-template carouselSlide class="items">
        teste 4
      </ng-template>
    </owl-carousel-o>
  </div>
</main>
