
:root{
  --vermelho: #5b06c9;
  --preta: #141414;
}

@import 'node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: var(--preta);
  font-family: 'Arial', Times, serif;
  color: white;
}

